AZURE_TENANT_ID=84c5926a-a7f0-4d30-bfe6-8d445df9a2ba
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
MAIL_SENDER=oliver.wrobel@pilatescompany.de
MAIL_RECIPIENT=oliver.wrobel@pilatescompany.de
MAIL_CC=hanna.wrobel@pilatescompany.de
